#back1 {
    /* background-color: #ffaabb; */
    background-color: #fab;
}
#back2 {
    border: 1px solid red ;
    height: 250px ;

    /* background-image: url('https://images.icon-icons.com/1861/PNG/96/phonebooth_118224.png'), url('https://mblogthumb-phinf.pstatic.net/20160427_9/gkfngkfn414_1461740691245IfBjs_JPEG/%B1%D7%B8%AE%B1%E2_%BD%AC%BF%EE_%B8%B8%C8%AD_%C4%B3%B8%AF%C5%CD_%BF%B1%B1%E2%C5%E4%B3%A2_%B8%B6%BD%C3%B8%B6%B7%CE_%BC%D5%B1%D7%B8%B2_%B0%AD%C1%C28.jpg?type=w420') ; */
    background-image: url('https://mblogthumb-phinf.pstatic.net/20160427_9/gkfngkfn414_1461740691245IfBjs_JPEG/%B1%D7%B8%AE%B1%E2_%BD%AC%BF%EE_%B8%B8%C8%AD_%C4%B3%B8%AF%C5%CD_%BF%B1%B1%E2%C5%E4%B3%A2_%B8%B6%BD%C3%B8%B6%B7%CE_%BC%D5%B1%D7%B8%B2_%B0%AD%C1%C28.jpg?type=w420') ;
    background-repeat: /*repeat-x*/ /*repeat-y*/ no-repeat ;
    /* background-size: 100% 100% ; */
    /* background-size: cover ; */
    background-size: contain ;
    /* background-size: 100px 100px ; */
    /* background-position: right center ; */
    background-position: center ;

}
.profile {
    border: 1px solid black ;
    height: 400px ;
    width: 400px ;
    border-radius: 50% ;
    
    background-image: url('https://talkimg.imbc.com/TVianUpload/tvian/TViews/image/2025/09/18/09d187e4-90e2-4396-841a-067926afc5b5.jpg') ;
    background-size: contain ;
    background-repeat: no-repeat ;
    background-position: center ;
}
#back3 {
    height: 80vh ;
    background: url('https://talkimg.imbc.com/TVianUpload/tvian/TViews/image/2025/09/18/09d187e4-90e2-4396-841a-067926afc5b5.jpg') ;
    background: cover ;
    background-attachment: fixed ;

    overflow: auto ;
}
#back3 p {
    height: 200vh ;
}

#back4 {
    height: 100px ;
    background: purple url('https://images.icon-icons.com/1861/PNG/96/phonebooth_118224.png') center/100px 100px ;
}