div {
    border: 1px solid red;
    display: inline-block;
    vertical-align: top;

}
img {
    height: 70vh;
    position: relative;
    top: 10vh;
    left: 10vh;
    z-index: 10;
    
}
.title {
    background-color: white;
    height: 50vh;
    width: 30vw;
    text-align: right;
    line-height: 70px;
    padding-right: 50px;
    z-index: 99999;
    position: relative; 
    top: 20vh;
    right: 100px;
    box-sizing: border-box;
}
.back {
    height: 100vh;
    width: 50%;
    background-color: blue;
    position: absolute;
    right: 0;
    z-index: 0;
}